SRC/.vs/TruongThanhTrungTiket/v17/DocumentLayout.json
SRC/.vs/TruongThanhTrungTiket/v17/DocumentLayout.backup.json
SRC/.vs/TruongThanhTrungTiket/v17/.suo
SRC/.vs/TruongThanhTrungTiket/v17/.futdcache.v2
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/a57edf39-ba1d-45a0-b145-e9bcb28fabae.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/999f4964-6a68-422a-99ee-76d4e2b6c9fb.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/58d5f2f2-29bd-49b2-a732-d69e3fac4c94.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/30089a7a-ccfc-40b0-912c-48af5a41564f.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/230bbef4-5c5a-4481-a36d-0f9f95ecedbf.vsidx
SRC/.vs/TruongThanhTrungTiket/DesignTimeBuild/.dtbcache.v2
SRC/.vs/TruongThanhTrungTiket/CopilotIndices/17.14.1661.41761/SemanticSymbols.db-wal
SRC/.vs/TruongThanhTrungTiket/CopilotIndices/17.14.1661.41761/SemanticSymbols.db-shm
SRC/.vs/TruongThanhTrungTiket/CopilotIndices/17.14.1661.41761/SemanticSymbols.db
SRC/.vs/TruongThanhTrungTiket/CopilotIndices/17.14.1661.41761/CodeChunks.db-wal
SRC/.vs/TruongThanhTrungTiket/CopilotIndices/17.14.1661.41761/CodeChunks.db-shm
SRC/.vs/TruongThanhTrungTiket/CopilotIndices/17.14.1661.41761/CodeChunks.db
SRC/.vs/TruongThanhTrungTiket/config/applicationhost.config
SRC/.vs/ProjectEvaluation/truongthanhtrungtiket.strings.v9.bin
SRC/.vs/ProjectEvaluation/truongthanhtrungtiket.projects.v9.bin
SRC/.vs/ProjectEvaluation/truongthanhtrungtiket.metadata.v9.bin
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/fb432660-5ec2-4889-b10b-5e3c2e86f731.vsidx
SRC/.vs/TruongThanhTrungTiket/CopilotIndices/17.14.1561.44479/CodeChunks.db
SRC/.vs/TruongThanhTrungTiket/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/4355fa67-5a18-4df3-af41-955db527cad0.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/a014bd79-8c45-47d5-b9b3-0faf3088f883.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/ba3cf9af-eb0f-438b-9014-d04aa5b28fa2.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/d6a2a0b7-f640-4dff-b2ef-f6fb5143b691.vsidx
SRC/bin/Debug/net8.0/TruongThanhTrungTiket.dll
SRC/bin/Debug/net8.0/TruongThanhTrungTiket.exe
SRC/bin/Debug/net8.0/TruongThanhTrungTiket.pdb
SRC/bin/Debug/net8.0/TruongThanhTrungTiket.staticwebassets.endpoints.json
SRC/bin/Debug/net8.0/TruongThanhTrungTiket.dll
SRC/bin/Debug/net8.0/TruongThanhTrungTiket.exe
SRC/bin/Debug/net8.0/TruongThanhTrungTiket.pdb
SRC/bin/Debug/net8.0/TruongThanhTrungTiket.staticwebassets.endpoints.json
SRC/bin/Debug/net8.0/TruongThanhTrungTiket.dll
SRC/bin/Debug/net8.0/TruongThanhTrungTiket.dll
SRC/bin/Debug/net8.0/TruongThanhTrungTiket.exe
SRC/bin/Debug/net8.0/TruongThanhTrungTiket.pdb
SRC/bin/Debug/net8.0/TruongThanhTrungTiket.staticwebassets.endpoints.json
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/7131cbed-c330-4712-bcc6-c5929f05f696.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/8db3d4ca-1003-4ac8-a720-848608376b20.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/95513f86-7937-4ea6-9bc6-5c0e04914399.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/edc9aeb3-c50f-4814-8541-76093e9efe06.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/859d03cd-9694-4d1e-8260-132e2ba5d30b.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/a3c95240-e35d-400b-92cf-5ca2f96ad2b2.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/b2db1a98-439a-4abe-a0da-ffa7b11dc092.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/b72d6e98-ef8e-471c-99bd-47b024596ffe.vsidx
SRC/.vs/TruongThanhTrungTiket/FileContentIndex/d03a2495-a057-4675-bd09-640c244ec1b8.vsidx
